<section id ="contact" class="frame">
		<div class="contact"></div>
	<div class="container w-contact">
		<div class="row">
			<div class="span12"><h3>CONTACT</h3></div>
		</div>
		<div class="row">
			<div class="span12">
				<p>For inquiries, comments, or questions, please email us at info@potentialapparel.com</p>
			</div>
		</div>
	</div>

</section>