
<!-- start of hero-->
<section id ="hero" class="frame">
    <div class="one-third hidden-tablet hidden-phone"></div>
    <div class="two-thirds">
		<div class="container-fluid tall">
			<div class="row-fluid tall">
				<div class="span8 tall pull-right">
			      <%= image_tag("big-billboard.png", :alt => "Potential Apparel billboard", :class => "hero-img") %>
			    </div>
			    <div class="span4 height-100">
			    <div class="call-to-action">
					<h2>Potential Apparel is building the World's Largest Billboard.</h2>
			
					<h5>Here's what we mean: </h5>
					<p>We are encouraging everyone to donate the advertising space of
						their t-shirts, tanks and hoodies to the Potential Apparel "Billboard".
					</p>
					<p >Side by side Potential Apparel wearers support underprivileged youth through sport and help unlock their potential.
						Five to nine dollars from every item sold will be donated to our 
						partnered charities <i><a href="http://www.righttoplay.com/canada/Pages/landing.aspx" class="charity_link">Right to Play</a></i> 
						and <i><a href="http://www.heroshockey.com/" class="charity_link">HEROS Hockey</a><i>.</i></i></p><i><i></i></i>
				</div>
					<div class="move-down hidden-tablet hidden-phone">
						<h5>A whole new way to help.</h5>
						<button class="btn btn-inverse btn-large">Coming Soon</button>
					</div>
			    </div>
		    </div>
		</div>
	</div>
</section>
