<section id ="team" class="frame">
	<div class="container">
		<div class="row">
			<div class="span11 offset1"><h3>Sports Traders</h3></div>
		</div>
		<div class="row">
			<div class="span4 offset1 instore">
				<%= image_tag("SportsTraders.png", :alt => "Sports Traders", :class => "retail-image") %>
				<%= image_tag("instore.jpg", :alt => "Sports Traders", :class => "instore-image") %>
			</div>
			<div class="span5 offset1">
				<div >
					<div class="retail">
						<p>We are very proud to annouce that Potential Apparel is now retail! Sports Traders in Victoria B.C is now carrying our apparel. $5 from all items sold will still be donated to Potential's partnered charities! Come check it out and help us unlock some potential!					</p>
					</div>
				</div>
				<div class="store-location">
					<p><b>You can check them out at:</b></p>
					<p>
					508 Discovery Street<br>
					Victoria BC, V8T 1G8<br>
					or at <%= link_to 'sportstraders.ca', 'http://www.sportstraders.ca/', :target => '_blank'%></p>
				</div>
			</div>
	    </div>
	</div>
</section>