<section id ="team" class="frame">
	<div class="container">
		<div class="row">
			<div class="span12"><h3>THE POTENTIAL APPAREL TEAM</h3></div>
		</div>
		<div class="row">
			<div class="span12"><%= image_tag("team1.jpg", :alt => "Potential Apparel team", :class => "team-image") %></div>
		</div>
	</div>
</section>