<section id ="team" class="frame">
	<div class="container">
		<div class="row">
			<div class="span12"><h3>THE POTENTIAL APPAREL TEAM</h3></div>
		</div>
		<div class="row">
			<div class="span12"><%= image_tag("team1.jpg", :alt => "Potential Apparel team", :class => "team-image") %></div>
		</div>
		<div class="row">
			<div class="span3 visible-desktop">
				<div class="w-team-info">
					<div class="team-info">
						<p>
							Potential Apparel is comprised of a team of 6 senior SFU students who are entrepreneurs, programmers and designers. We’re passionate about combining our skills to make an impactful difference in the world. Our goal is to create a new way for people to give to charitable organizations that empower the next generation. We’ve all benefitted from people in our lives who have recognized and helped us realize our potential. Now, we’re using our strengths to help do the same for others.
						</p>
					</div>
				</div>
			</div>
			<div class="span9 visible-desktop potential-team-names">
				<p><b><i>Left to right:</i></b> <i> David Dotan, Robert Queton, Sam Kobe, Mark Edwards, Ben Brown Bentley, Matthew Harwood<i></p>
			</div>
			<div class="span6 hidden-desktop">
				<div >
					<div class="">
						<p class="bump-20">
							Potential Apparel is comprised of a team of 6 senior SFU students who are entrepreneurs, programmers and designers. We’re passionate about combining our skills to make an impactful difference in the world. Our goal is to create a new way for people to give to charitable organizations that empower the next generation. We’ve all benefitted from people in our lives who have recognized and helped us realize our potential. Now, we’re using our strengths to help do the same for others.
						</p>
					</div>
				</div>
			</div>
			<div class="span6 hidden-desktop">
				<p class="bump-20"><b><i>Left to right:</i></b> <i>David Dotan, Robert Queton, Sam Kobe, Mark Edwards, Ben Brown Bentley, Matthew Harwood</i></p>
			</div>
		</div>
	</div>
</section>