<footer id="contact" class="footer-splash">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class ="w-footer-info">
					<h3>Contact: </h3>
					<p>
						For inquiries, comments, or questions, please email us at <%= link_to "info@potentialapparel.com", "mailto:info@potentialapparel.com" %>
					</p>
					<hr class="break-bar" />
					<p>
						We look forward to hearing for you.
					</p>
				</div>
			</div>
			<div class="span4 offset4">
				<div class ="w-footer-info">
					<h3>Supporters: </h3>
					<%= link_to image_tag("ea-sports.png", :class => "ea_footer_logo"), "http://www.easports.com/", :target => '_blank' %>
					<%= link_to image_tag("richmondnews.jpg"), "http://www.richmond-news.com/index.html", :target => '_blank' %>
					<h3>Partners: </h3>
					<%= link_to image_tag("hockeynow.png"), "http://hockeynow.ca/", :target => '_blank' %>			
				</div>
			</div>
		</div>
	</div>
	<div class="terms-wrap">
		<p class="span4">Potential Apparel Inc. &copy;2013 All Rights Reserved</p>
		<p class="faq"><a href="#">Terms of Service</a> &middot;  <a href="#">FAQ</a></p>
	</div>
</div>
</footer>
<script>
	$("img").lazyload({ 
    	effect : "fadeIn",
	});
</script>