<footer class="footer-splash">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class ="w-footer-info">
					<h3>Contact: </h3>
					<p>
						For inquiries, comments, or questions, please email us at <a href="mailto:info@potentialapparel.com">info@potentialapparel.com</a>
					</p>
					<hr class="break-bar" />
					<p>
						Or call us at: 778-882-5623
					</p>
				</div>
			</div>
			<div class="span4">
				<div class ="w-footer-info">
					<h3>Sponsors: </h3>
					<%= image_tag("hockeynow.png") %>
					
				</div>
			</div>
			<div class="span4">
				<div class ="w-footer-info">
					<h3>Supporters: </h3>
					<%= image_tag("ea-sports.png") %>
					<%= image_tag("richmondnews.jpg") %>			
				</div>
			</div>
		</div>
	</div>
	<div class="terms-wrap">
	
	</div>
</div>
</footer>
<script>
	$("img").lazyload({ 
    	effect : "fadeIn",
	});
</script>