<footer id="contact" class="footer-splash">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class ="w-footer-info">
					<h3>Contact: </h3>
					<p>
						For inquiries, comments, or questions, please email us at <a href="mailto:info@potentialapparel.com">info@potentialapparel.com</a>
					</p>
					<hr class="break-bar" />
					<p>
						Or call us at: 604-727-8843
					</p>
				</div>
			</div>
			<div class="span4 offset4">
				<div class ="w-footer-info">
					<h3>Supporters: </h3>
					<%= image_tag("ea-sports.png") %>
					<%= image_tag("richmondnews.jpg") %>
					<h3>Sponsors: </h3>
					<%= image_tag("hockeynow.png") %>			
				</div>
			</div>
		</div>
	</div>
	<div class="terms-wrap">
		<p class="span4">Potential Apparel Inc. &copy;2013 All Rights Reserved</p>
		<p class="faq"><a href="#">Terms of Service</a> &middot;  <a href="#">FAQ</a></p>
	</div>
</div>
</footer>
<script>
	$("img").lazyload({ 
    	effect : "fadeIn",
	});
</script>