<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Potential Apparel</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a class="active" href="#concept">Concept</a></li>
          <li><a href="#roster">Roster</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Partners<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#partners">Right To Play</a></li>
              <li><a href="#partners-2">Heroes Hockey</a></li>
            </ul>
          </li>
          <li><a href="#apparel">Apparel</a></li>
          <li><a href="#social">Social</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>