<footer id="footer" class="footer-splash sixteen columns">
	<div class="container">
		<div class="columns six">
			<div class ="w-footer-info">
				<h3>Contact: </h3>
				<p>
					For inquiries, comments, or questions, please email us at <a href="mailto:info@potentialapparel.com">info@potentialapparel.com</a>
				</p>
				<hr class="break-bar" />
				<p>
					We look forward to hearing from you.
				</p>
			</div>
		</div>
		<div class="columns six offset-by-four">
			<div class ="w-footer-info">
				<h3>Supporters: </h3>
				<%= image_tag("ea-sports.png") %>
				<%= image_tag("richmondnews.jpg") %>
				<h3>Sponsors: </h3>
				<%= image_tag("hockeynow.png") %>			
			</div>
		</div>
	</div>
	<div class="terms-wrap">
		<p class="">Potential Apparel Inc. &copy;2013 All Rights Reserved</p>
	</div>
</footer>
<script>
	$("img").lazyload({ 
    	effect : "fadeIn",
	});
</script>